body {
    background-color: white;
}

#content {
    display: inline-block;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 1%;
    width: 40%;
    height: 40%;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 29%;
    margin-right: 29%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

input {
    padding: 1%;
    font-size: medium;
    font-family: sans-serif;
    width: 46%;
    border: 1px solid black;
}

button {
    width: 20%;
    color: white;
    background-color:darkcyan;
    padding: 1%;
    font-weight: bolder;
    margin: 2%;
    border: solid 1px black;
    margin-top: 9%;
    margin-bottom: 1%;
}

#results_div {
    display: inline-block;
    width: 68%;
    border: 1px solid black;
    font-weight: bolder;
    padding: 2%;
    font-size: medium;
    font-family: sans-serif;
}

#clear_btn {
    background-color: darkred;
}
